@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@300;600&display=swap");

button {
  padding: 0.3em 1em;
  border-radius: .5rem;
  font-size: max(1.5vw, 1rem);
  color: white;
  font-family: 'Pacifico' sans-serif;
  background: linear-gradient(300deg, white, black);
}

h1 {
  font-family:  'Tektur', sans-serif;
  text-decoration: underline;
}

h2 {
  font-family: sans-serif;
}